

.closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    borderRadius: 3;
    boxShadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    color:white;
    height: 48px;
    padding: 0 30px;
}

.list {
width: 50%;
}

.workPlaceListItem{
    min-width: 250px;
    padding: 10px;
    color: white;
    background-color: #0aaf7f;
}
.parentDiv  {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}




